.box1,
.box1 * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.box1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.box1 .loader {
    width: 100px;
}

.box1 .loader-title {
    width: 100%;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.7;
    color: var(--cl);
}

.box1 .loader .loader-items {
    width: 100%;
    height: 100px;
    -webkit-perspective: 100px;
    -moz-perspective: 100px;
    -ms-perspective: 100px;
    -o-perspective: 100px;
    perspective: 100px;
}

.box1 .loader .loader-items .parent-cub {
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    -ms-transform-style: preserve-3d;
    -o-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-transform-origin: 50% 50% -50px;
    -moz-transform-origin: 50% 50% -50px;
    -ms-transform-origin: 50% 50% -50px;
    -o-transform-origin: 50% 50% -50px;
    transform-origin: 50% 50% -50px;
}

.box1 .loader .loader-items .parent-cub .cub {
    width: 50px;
    height: 50px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    position: absolute;
    background-color: var(--bg);
    -webkit-animation: box1 500ms ease infinite;
    -moz-animation: box1 500ms ease infinite;
    -ms-animation: box1 500ms ease infinite;
    -o-animation: box1 500ms ease infinite;
    animation: box1 500ms ease infinite;
}

@keyframes box1 {
    to {
        transform: translate(-50%, -50%) rotateX(0deg);
    }
    from {
        transform: translate(-50%, -50%) rotateX(180deg);
    }
}

@-webkit-keyframes box1 {
    to {
        -webkit-transform: translate(-50%, -50%) rotateX(0deg);
        transform: translate(-50%, -50%) rotateX(0deg);
    }
    from {
        -webkit-transform: translate(-50%, -50%) rotateX(180deg);
        transform: translate(-50%, -50%) rotateX(180deg);
    }
}

@-moz-keyframes box1 {
    to {
        -moz-transform: translate(-50%, -50%) rotateX(0deg);
        transform: translate(-50%, -50%) rotateX(0deg);
    }
    from {
        -moz-transform: translate(-50%, -50%) rotateX(180deg);
        transform: translate(-50%, -50%) rotateX(180deg);
    }
}

@-ms-keyframes box1 {
    to {
        -ms-transform: translate(-50%, -50%) rotateX(0deg);
        transform: translate(-50%, -50%) rotateX(0deg);
    }
    from {
        -ms-transform: translate(-50%, -50%) rotateX(180deg);
        transform: translate(-50%, -50%) rotateX(180deg);
    }
}

@-o-keyframes box1 {
    to {
        -o-transform: translate(-50%, -50%) rotateX(0deg);
        transform: translate(-50%, -50%) rotateX(0deg);
    }
    from {
        -o-transform: translate(-50%, -50%) rotateX(180deg);
        transform: translate(-50%, -50%) rotateX(180deg);
    }
}