/**
 * React-js-loader by Amur
 * https://github.com/AmurKhoyetsyan/react-js-loader
 */

.bubble3,
.bubble3 * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bubble3 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}
  
.bubble3 .loader {
    width: 100px;
}

.bubble3 .loader-title {
    padding-top: 10px;
    width: 100%;
    color: var(--cl);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
}

.bubble3 .loader .loader-items {
    width: 100%;
    height: 100px;
    position: relative;
}

.bubble3 .loader .loader-items .bubble {
    width: 0;
    height: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    background-color: var(--bg);
    border-radius: 50%;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    -webkit-animation: bubble3 1200ms linear infinite;
    -moz-animation: bubble3 1200ms linear infinite;
    -ms-animation: bubble3 1200ms linear infinite;
    -o-animation: bubble3 1200ms linear infinite;
    animation: bubble3 1200ms linear infinite;
    -webkit-animation-delay: calc(var(--i) * 400ms);
    -moz-animation-delay: calc(var(--i) * 400ms);
    -ms-animation-delay: calc(var(--i) * 400ms);
    -o-animation-delay: calc(var(--i) * 400ms);
    animation-delay: calc(var(--i) * 400ms);
}

@keyframes bubble3 {
    from {
        width: 15px;
        height: 15px;
        opacity: 1;
    }
    to {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

@-webkit-keyframes bubble3 {
    from {
        width: 15px;
        height: 15px;
        opacity: 1;
    }
    to {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

@-moz-keyframes bubble3 {
    from {
        width: 15px;
        height: 15px;
        opacity: 1;
    }
    to {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

@-ms-keyframes bubble3 {
    from {
        width: 15px;
        height: 15px;
        opacity: 1;
    }
    to {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}

@-o-keyframes bubble3 {
    from {
        width: 15px;
        height: 15px;
        opacity: 1;
    }
    to {
        width: 80px;
        height: 80px;
        opacity: 0;
    }
}