.bubble1,
.bubble1 * {
    padding: 0;
    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.bubble1 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
}

.bubble1 .loader {
    width: 150px;
    height: 40px;
}

.bubble1 .loader-title {
    padding-top: 10px;
    width: 100%;
    color: var(--cl);
    font-weight: 700;
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
}

.bubble1 .loader-items {
    width: 100%;
    display: -webkit-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    flex-wrap: nowrap;
    -webkit-justify-content: space-between;
    -ms-flex-pack: space-between;
    justify-content: space-between;
    -webkit-align-items: center;
    -ms-flex-align:center;
    align-items: center;
}

.bubble1 .loader .loader-items .bubble {
    width: 30px;
    height: 30px;
    background-color: var(--bg);
    border-radius: 100%;
    -webkit-animation: bubble1 1200ms ease-in-out infinite;
    -moz-animation: bubble1 1200ms ease-in-out infinite;
    -ms-animation: bubble1 1200ms ease-in-out infinite;
    -o-animation: bubble1 1200ms ease-in-out infinite;
    animation: bubble1 1200ms ease-in-out infinite;
    -webkit-animation-delay: calc(var(--i) * 350ms);
    -moz-animation-delay: calc(var(--i) * 350ms);
    -ms-animation-delay: calc(var(--i) * 350ms);
    -o-animation-delay: calc(var(--i) * 350ms);
    animation-delay: calc(var(--i) * 350ms);
}

@keyframes bubble1 {
    to {
        transform: scale(1,1);
    }
    50% {
        transform: scale(0.3,0.3);
    }
    from {
        transform: scale(1,1);
    }
}

@-webkit-keyframes bubble1 {
    to {
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
    50% {
        -webkit-transform: scale(0.3,0.3);
        transform: scale(0.3,0.3);
    }
    from {
        -webkit-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-moz-keyframes bubble1 {
    to {
        -moz-transform: scale(1,1);
        transform: scale(1,1);
    }
    50% {
        -moz-transform: scale(0.3,0.3);
        transform: scale(0.3,0.3);
    }
    from {
        -moz-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-ms-keyframes bubble1 {
    to {
        -ms-transform: scale(1,1);
        transform: scale(1,1);
    }
    50% {
        -ms-transform: scale(0.3,0.3);
        transform: scale(0.3,0.3);
    }
    from {
        -ms-transform: scale(1,1);
        transform: scale(1,1);
    }
}

@-o-keyframes bubble1 {
    to {
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
    50% {
        -o-transform: scale(0.3,0.3);
        transform: scale(0.3,0.3);
    }
    from {
        -o-transform: scale(1,1);
        transform: scale(1,1);
    }
}